# Assignment #2: Data Exploration

In this assignment, you will demonstrate your knowledge of the Python and Pandas skills we've learned so far. These include:

- Getting an overview of your data
- Extracting columns
- Removing duplicates from your data
- Creating a subset of your data by matching a string
- Getting a random sample of your data
- Sorting your data 
- Getting fundamental statistical information of a series, such as the mean and median

You will not need to formulate or answer a research question for this assignment. You simply need to demonstrate your ability to perform specific operations on the data set you have selected. In the next assignment, your midterm, you will create a narrative exploration of the data using many of the same methods, but in such a way as to use narrative along with data analysis to answer a research question.

You may use the data set you imported in assignment #1, or you may choose another data set. That means that you can reuse code you wrote in Assignment #1 to import the data.

In the below notebook, I will ask for you to perform a task. Each task will be followed by one or more blank code cells. Use as many cells as you need to complete the task. If you know some other way to complete the task with Python and/or Pandas that is not the way we learned in class, that is also acceptable. Feel free to use Google searches to refresh your memory as to how to perform each task. You will also likely wish to consult the class notebooks, which can be found in [our class repository on GitHub](https://github.com/sha256rma/foundations-of-data-science).

If your data set does not have a needed form of data for a task, write code that would perform the task if a column with that data existed, and provide an explanation as a comment or markdown cell.

You may receive partial credit for some incomplete or incorrect answers. Please feel free to add comments about your thought process, which will make it more likely that you will receive partial credit.

The last cell is a bonus. You will not be penalized for not attempting or completing it.

-----

Import Pandas and read your data in as a data frame. Assign the data frame to a variable, such as `df`.

In [270]:
  inauguraladdress_data = [ 
    [2017, 'Donald Trump', 1436], 
    [1957, 'Dwight D. Eisenhower', 1636],
    [2009, 'Barack Obama', 2385],
    [2001, 'George W. Bush', 1591],
    [1993, 'Bill Clinton', 1598],
    [1989, 'George H. W. Bush', 2314],
    [1981, 'Ronald Reagan', 2418],
    [1977, 'Jimmy Carter', 1215],
    [1969, 'Richard Nixon', 2102],
    [1965, 'Lyndon B. Johnson', 1498],
    [1961, 'John F. Kennedy', 1338],
    [1953, 'Dwight D. Eisenhower', 2446],
    [1949, 'Harry S. Truman', 2269],
    [1941, 'Franklin D. Roosevelt', 1335],
    [1933, 'Franklin D. Roosevelt', 1882],
    [1929, 'Herbert Hoover', 3846],
    [1925, 'Calvin Coolidge', 4045],
    [1921, 'Warren G. Harding', 3323],
    [1913, 'Woodrow Wilson', 1697],
    [1905, 'Theodore Roosevelt', 983],
    [1901, 'William Mckinley', 2215],
  ]

In [272]:
inauguraladdress_data_columns = ['year', 'name', 'length of speech']

In [274]:
import pandas as pd

In [276]:
df = pd.DataFrame(data=inauguraladdress_data, columns=inauguraladdress_data_columns)

Make the data frame visible by placing the data frame variable in a cell by itself.

In [279]:
df

    year                   name  length of speech
0   2017           Donald Trump              1436
1   1957   Dwight D. Eisenhower              1636
2   2009           Barack Obama              2385
3   2001         George W. Bush              1591
4   1993           Bill Clinton              1598
5   1989      George H. W. Bush              2314
6   1981          Ronald Reagan              2418
7   1977           Jimmy Carter              1215
8   1969          Richard Nixon              2102
9   1965      Lyndon B. Johnson              1498
10  1961        John F. Kennedy              1338
11  1953   Dwight D. Eisenhower              2446
12  1949        Harry S. Truman              2269
13  1941  Franklin D. Roosevelt              1335
14  1933  Franklin D. Roosevelt              1882
15  1929         Herbert Hoover              3846
16  1925        Calvin Coolidge              4045
17  1921      Warren G. Harding              3323
18  1913         Woodrow Wilson              1697
19  1905     Theodore Roosevelt               983
20  1901       William Mckinley              2215

What columns are in your data frame? Use a function or method that shows all the columns.

In [282]:
df['year']

0     2017
1     1957
2     2009
3     2001
4     1993
5     1989
6     1981
7     1977
8     1969
9     1965
10    1961
11    1953
12    1949
13    1941
14    1933
15    1929
16    1925
17    1921
18    1913
19    1905
20    1901
Name: year, dtype: int64

In [284]:
df['name']

0              Donald Trump
1      Dwight D. Eisenhower
2              Barack Obama
3            George W. Bush
4              Bill Clinton
5         George H. W. Bush
6             Ronald Reagan
7              Jimmy Carter
8             Richard Nixon
9         Lyndon B. Johnson
10          John F. Kennedy
11     Dwight D. Eisenhower
12          Harry S. Truman
13    Franklin D. Roosevelt
14    Franklin D. Roosevelt
15           Herbert Hoover
16          Calvin Coolidge
17        Warren G. Harding
18           Woodrow Wilson
19       Theodore Roosevelt
20         William Mckinley
Name: name, dtype: object

In [286]:
df['length of speech']

0     1436
1     1636
2     2385
3     1591
4     1598
5     2314
6     2418
7     1215
8     2102
9     1498
10    1338
11    2446
12    2269
13    1335
14    1882
15    3846
16    4045
17    3323
18    1697
19     983
20    2215
Name: length of speech, dtype: int64

Write Python code to output the number of rows in your data frame.

In [288]:
rows =len(df)

In [290]:
print (f"The Inauguraladdress dataset has {rows} rows")

The Inauguraladdress dataset has 21 rows

Write code to output a column from your data frame as a series. (Extract a column.)

In [293]:
df['name']

0              Donald Trump
1      Dwight D. Eisenhower
2              Barack Obama
3            George W. Bush
4              Bill Clinton
5         George H. W. Bush
6             Ronald Reagan
7              Jimmy Carter
8             Richard Nixon
9         Lyndon B. Johnson
10          John F. Kennedy
11     Dwight D. Eisenhower
12          Harry S. Truman
13    Franklin D. Roosevelt
14    Franklin D. Roosevelt
15           Herbert Hoover
16          Calvin Coolidge
17        Warren G. Harding
18           Woodrow Wilson
19       Theodore Roosevelt
20         William Mckinley
Name: name, dtype: object

### Read the example below to **count** duplicates based on specific columns (e.g., 'Name' and 'Age')

Check duplicates based on 'Name' and 'Age' columns (modify the subset for your own columns):

`duplicates_subset = df.duplicated(subset=['Name', 'Age'])`

Count the number of duplicates in the subset:

`num_duplicates_subset = duplicates_subset.sum()`

Display no. of duplicate rows based on your column(s):

`print(f"\nNumber of duplicate rows based on 'Name' and 'Age': {num_duplicates_subset}")`

After reading the above, modify the code snippets to check for duplicate columns in your own data frame

In [295]:
duplicates_subset = df.duplicated(subset=['year', 'name'])

In [297]:
num_duplicates_subset = duplicates_subset.sum()

In [299]:
print(f"\nNumber of duplicate rows based on 'year' and 'name': {num_duplicates_subset}")

Number of duplicate rows based on 'year' and 'name': 0

If any duplicates exist within a column, remove them with the `.drop_duplicates()` function

``none exist``

Write Python code to output the number of rows in your data frame.

In [301]:
rows =len(df)

In [303]:
print (f"The Inauguraladdress dataset has {rows} rows")

The Inauguraladdress dataset has 21 rows

Compare the new value with the first time you outputted the number of rows above. Is it more, less, or the same?

``The same since there is no duplicates``

Create a subset of the data that matches a specific string in a column. That is, extract all rows of the original data frame that contain a specific string in one of the columns. Save the resulting data frame to a variable. (Add more cells if needed)

In [308]:
subset_df = df[df['name'] == 'Dwight D. Eisenhower']

In [310]:
print(subset_df)

    year                  name  length of speech
1   1957  Dwight D. Eisenhower              1636
11  1953  Dwight D. Eisenhower              2446

Output the length of the resulting data frame (the subset of your data for which the conditional was true).

2

Output the first ten rows of your data set, the last ten rows of your data set, and a random ten rows of your data set (a sample of your data).

In [315]:
first_ten = df.head(10)
print("First ten rows:")
print(first_ten)

First ten rows:
   year                  name  length of speech
0  2017          Donald Trump              1436
1  1957  Dwight D. Eisenhower              1636
2  2009          Barack Obama              2385
3  2001        George W. Bush              1591
4  1993          Bill Clinton              1598
5  1989     George H. W. Bush              2314
6  1981         Ronald Reagan              2418
7  1977          Jimmy Carter              1215
8  1969         Richard Nixon              2102
9  1965     Lyndon B. Johnson              1498

In [317]:
last_ten = df.tail(10)
print("\nLast ten rows:")
print(last_ten)

Last ten rows:
    year                   name  length of speech
11  1953   Dwight D. Eisenhower              2446
12  1949        Harry S. Truman              2269
13  1941  Franklin D. Roosevelt              1335
14  1933  Franklin D. Roosevelt              1882
15  1929         Herbert Hoover              3846
16  1925        Calvin Coolidge              4045
17  1921      Warren G. Harding              3323
18  1913         Woodrow Wilson              1697
19  1905     Theodore Roosevelt               983
20  1901       William Mckinley              2215

In [319]:
random_ten = df.sample(n=10)
print("\nRandom ten rows:")
print(random_ten)

Random ten rows:
    year                  name  length of speech
20  1901      William Mckinley              2215
0   2017          Donald Trump              1436
9   1965     Lyndon B. Johnson              1498
19  1905    Theodore Roosevelt               983
15  1929        Herbert Hoover              3846
4   1993          Bill Clinton              1598
1   1957  Dwight D. Eisenhower              1636
2   2009          Barack Obama              2385
10  1961       John F. Kennedy              1338
12  1949       Harry S. Truman              2269

## Bonus

You may want to refer to the [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

Sort your data frame by a particular column and output the result.

Pick a column in your data set with numeric data (integers or floats). Output the mean (average) and median of that column.