# Pandas cont. #

 ## Recap: ##

- Imported pandas
- Created a DataFrame
- Counted the no. of rows and columns in our DataFrame
- Displayed the first 3 rows of our DataFrame

## Task ##

1. We are given a DataFrame
2. We want to filter it by student_id = 101
3. We want to return the columns: name and age

In [62]:
student_data = [
    [101, 'ulysses', 13],
    [53, 'William', 10], 
    [128, 'Henry', 6],
    [3, 'Henry', 11], 
]

In [64]:
student_data_columns = ['student_id', 'name', 'age']

In [66]:
import pandas as pd

In [68]:
df = pd.DataFrame(data=student_data, columns=student_data_columns)

In [71]:
df

   student_id     name  age
0         101  ulysses   13
1          53  William   10
2         128    Henry    6
3           3    Henry   11