In [2]:
import pandas as pd

In [5]:
student_data = [ [1,15], [2,11], [3,11], [4,20]]

In [7]:
type(student_data)

list

In [9]:
columns = ['student_id', 'age']

In [11]:
type(columns)

list

In [13]:
students = pd.DataFrame(data=student_data, columns=columns)

In [15]:
students

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

## We're now going to count how many rows our dataset has...

In [18]:
rows = len(students) # len is a function that returns the
                     # length of whats inside

In [20]:
print (f"The students dataset has {rows} rows")

The students dataset has 4 rows

In [22]:
type(students)

pandas.core.frame.DataFrame

In [34]:
student_columns = len(students.columns)

In [36]:
print(f"The students dataset has {student_columns} columns")

The students dataset has 2 columns

## Checkpoint:
1. We imported padas
2. We created a students dataset
3. We counted how many rows and columns are in the students dataset

`Print out the first 3 rows of the students dataframe...`